<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <div class="sidenav-content" *ngIf="(isAuthenticated | async)">
      <ul>
        <li>
          <button mat-button>
            Configure
          </button>
        </li>
        <li>
          <button mat-button (click)="logout()">
            Sign Out
          </button>
        </li>
      </ul>
    </div>
    <div class="sidenav-content" *ngIf="!(isAuthenticated | async)">
      <ul>
        <li>
          <button mat-button (click)="login()">
            Sign In
          </button>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <ng-content></ng-content>
</mat-sidenav-container>
